:root {
  --accent-color: #387a6e;
  --background-color: #f5f5f5;
  --text-color: #000000;
  --heading-text-color: #000000;
  --white-text-color: #ffffff;
  --header-link-color: #cffff4;
  --font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif;
  --default-font-size: 18px;
  --section-title-font-size: 26px;
  --intro-font-size: 20px;
  --max-container-width: 800px;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: var(--default-font-size);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  text-align: center;
  padding: 20px 0;
}

.header-container, .container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 32px;
}

.logo {
  margin-bottom: 30px;
}

.title {
  color: var(--white-text-color);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact li {
  display: inline-block;
  padding: 0 10px;
}

.contact a {
  color: var(--header-link-color);
  text-decoration: none;
  font-size: var(--intro-font-size);
}

.contact a:hover {
  text-decoration: underline;
}

.contact a:active, .contact a:focus {
  opacity: 0.7;
}

.container {
  text-align: left;
  background-color: var(--white-text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: var(--intro-font-size);
  letter-spacing: 2px;
  margin-top: 16px;
  color: var(--white-text-color);
}

h1, h2, h2, h4, h5, h6 {
  color: var(--heading-text-color);
  font-weight: 700;
}

h2 {
  margin-top: 40px;
  font-size: var(--section-title-font-size);

}

blockquote {
  border-left: 3px solid var(--accent-color);
  padding-left: 15px;
  margin: 0 0 30px 0;
}

blockquote p {
  font-style: italic;
  font-size: var(--default-font-size);
  color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 32px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-color: var(--accent-color);
}

li {
  padding: 5px;
}
