<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{ title | safe }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <div class="header-container">
    <img alt="Calculator Logo" class="logo" src="/images/calculator-icons.svg"/>
    <h1 class="title">{{ title | safe }}</h1>
    <h2 class="intro">{{ intro | safe }}</h2>
    <ul class="contact">
      {% for details in contact_details %}
      <li><a href="{{ details.url | safe }}">{{ details.text | safe }}</a></li>
      {% endfor %}
    </ul>
  </div>
</header>
<main>
  <div class="container">
    {{ content | safe }}
  </div>
</main>
<footer>&copy; 2023 Matematyka Się Liczy</footer>
</body>
</html>
